
header {
    background: rgb(6, 22, 39);
    height: 50px;
    ul {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .link {
        display: inline-block;
        height: 50px;
        width: 80px;
        line-height: 50px;
        padding: 0 40px;
        list-style: none;
        text-align: center;
    }
    .link.active {
        background: rgb(63, 145, 247)
    }
    .icon {
        vertical-align: middle;
    }
}