@import '../../components/good/good';

.goods {
    margin: 30px;
    padding: 30px 20px;
    background: white;
    li {
        list-style: none;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
}