
.addGood {
    margin: 20px;
    background: white;
    h1 {
        text-align: center;
        padding-top: 20px;
    }
    label, input {
        display: block;
        height: 30px;
        line-height: 30px;
        width: 95%;      
        margin: 10px 0;  
    }
    input {
        margin: 0 auto;
    }
    label {
        margin-left: 2%;
        span {
            color: red;
        }
    }
    button {
        width: 60px;
        height: 25px;
        margin: 10px 0 10px 2%;
        background: rgb(70, 149, 244);
        color: white;
    }
}