
.good {
    border: 1px solid gray;
    margin: 10px;
    img {
        width: 150px;
        height: 150px;
    }
    h3 {
        margin: 10px;
    }
    button {
        margin-left: 30px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
    }
    .desc {
        margin: 10px;
    }
    .icon {
        float: right;
    }
}