@import './components/shopHeader/shopHeader';
@import './pages/home/home';
@import './pages/addGood/addGood';
@import './pages/order/order';

.App {
  background: white;
  margin: 0;
  padding: 0;
  background: rgb(241, 242, 246);
}

body {
  margin: 0;
  padding: 0;
  background: rgb(241, 242, 246);
}